cmake
wheel
numpy>1.2
hydra-core==1.1.0
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
pyhash
pytorch-lightning==1.3.5
fairscale
torch==1.8.1
torchvision
transformers
MulticoreTSNE
tensorboard
gitpython
scipy
gym
moviepy
wandb
