cmake
wheel
numpy>1.2
hydra-core==1.1.1
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
pyhash
pytorch-lightning==1.4.9
fairscale
torch==1.9.1
torchvision
MulticoreTSNE
gitpython
scipy
sentence-transformers
gym
moviepy
wandb
